<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{adminHome.title})">
</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<!-- END Navbar -->

	<div class="container text-center mt-4">
		<div class="mb-4">
	    	<h1 th:text="#{adminHome.addBuffet}">Aggiungi un nuovo buffet</h1>
	    </div>
		
		<form th:action="@{/addBuffetForm}" method="POST">
			<div class="form-floating mb-4">
                <input type="text" id="buffetNome" class="form-control" th:placeholder="#{addBuffet.name}"
                	th:field="${buffet.nome}" />
            	<label th:text="#{addBuffet.name}" for="buffetNome">Nome</label>
            </div>
            
            <div class="form-floating mb-4">
                <input type="text" id="buffetDescrizione" class="form-control" th:placeholder="#{addBuffet.description}"
                	th:field="${buffet.descrizione}" />
            	<label th:text="#{addBuffet.description}" for="buffetDescrizione">Descrizione</label>
            </div>
            
            <div class="form-floating mb-4">
            	<input type="text" id="buffetImageUrl" class="form-control" th:placeholder="#{addChef.imageUrl}"
                	th:field="${buffet.imageUrl}" />
            	<label th:text="#{addChef.imageUrl}" for="buffetImageUrl">URL immagine</label>
            </div>
            
           <div th:if="${!chefList.isEmpty()}" class="form-group mb-6">
				<label class="h5" for="chef" th:text="#{addBuffet.selectChefAuthor}">Chef preparatore</label>
				<select class="form-select" th:field="${buffet.chefPreparatore}">
					<option value="true" th:text="#{addChef.select}" >Seleziona..</option>
					<option th:each="chef : ${chefList}" th:value="${chef.id}" th:text="${chef.nome + ' ' + chef.cognome}">Nome chef</option>
				</select>
			</div>
            
            <!-- Submit button -->
            <button th:text="#{addBuffet.addButton}" type="submit" class="btn btn-primary btn-block mt-4">Aggiungi buffet</button>
		</form>
		
	</div>
</body>
</html>