<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{adminHome.title})">
</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<!-- END Navbar -->

	<div class="container text-center mt-4">
		<div class="mb-4">
	    	<h1 th:text="#{adminHome.addChef}">Aggiungi un nuovo chef</h1>
	    </div>
		
		<form th:action="@{/admin/addChefForm}" method="POST">
			<div class="input-group mb-4">
			 	<span th:text="#{register.nameSurname}" class="input-group-text">First and last name</span>
			 	<input type="text" aria-label="Chef first name" th:placeholder="#{register.firstName}" class="form-control"
			 		th:field="${chef.nome}" autofocus required />
			 	<input type="text" aria-label="Chef last name" th:placeholder="#{register.lastName}"
			 		th:field="${chef.cognome}" class="form-control" required/>
			</div>
			
            <div class="form-floating mb-4">
            	<input type="text" id="chefNazionalita" class="form-control" th:placeholder="#{addChef.originCountry}"
                	th:field="${chef.nazionalita}" />
            	<label th:text="#{addChef.originCountry}" for="chefNazionalita">Nazionalità</label>
            </div>
            
            <div class="form-floating mb-4">
            	<input type="text" id="chefImageUrl" class="form-control" th:placeholder="#{addChef.imageUrl}"
                	th:field="${chef.imageUrl}" />
            	<label th:text="#{addChef.imageUrl}" for="chefImageUrl">URL immagine</label>
            </div>
            
            <div th:if="${!buffetList.isEmpty()}" class="form-group mb-6">
				<label class="h5" for="buffet" th:text="#{addChef.selectOfferedBuffet}">Seleziona un buffet proposto</label>
				<select class="form-select" th:field="${chef.buffetProposti}">
					<option value="" th:text="#{addChef.select}" >Seleziona..</option>
					<option th:each="buffet : ${buffetList}" th:value="${buffet.id}" th:text="${buffet.nome}">Nome buffet</option>
				</select>
			</div>
            
            <!-- Submit button -->
            <button th:text="#{addChef.addButton}" type="submit" class="btn btn-success btn-block mt-4">Aggiungi chef</button>
		</form>
		
	</div>
</body>
</html>