<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{adminHome.title})">
</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<!-- END Navbar -->

	<div class="container text-center mt-4">
		<div class="mb-4">
	    	<h1 th:text="#{adminHome.addDish}">Aggiungi un nuovo piatto</h1>
	    </div>
		<form th:action="@{/addDishForm}" method="POST">
			<div class="form-floating mb-4">
                <input type="text" id="piattoNome" class="form-control" th:placeholder="#{addBuffet.name}"
                	th:field="${piatto.nome}" />
            	<label th:text="#{addBuffet.name}" for="piattoNome">Nome</label>
            </div>
            
            <div class="form-floating mb-4">
                <input type="text" id="piattoDescrizione" class="form-control" th:placeholder="#{addBuffet.description}"
                	th:field="${piatto.descrizione}" />
            	<label th:text="#{addBuffet.description}" for="piattoDescrizione">Descrizione</label>
            </div>
            
            <div class="form-floating mb-4">
            	<input type="text" id="dishImageUrl" class="form-control" th:placeholder="#{addChef.imageUrl}"
                	th:field="${piatto.imageUrl}" />
            	<label th:text="#{addChef.imageUrl}" for="dishImageUrl">URL immagine</label>
            </div>
            
            <div th:if"${!ingredientiList.isEmpty()}" class="form-group mb-6">
				<label class="h5" for="ingredienti" th:text="#{addDish.selectIngredients}">Ingredienti</label>
				<select class="form-select" th:field="${piatto.ingredienti}">
					<option value="" th:text="#{addChef.select}" >Seleziona..</option>
					<option th:each="ingredente : ${ingredientiList}" th:value="${ingrediente.id}" 
						th:text="${ingrediente.nome}">Nome ingrediente</option>
				</select> 
			</div>
            
            <!-- Submit button -->
            <button th:text="#{addDish.addButton}" type="submit" class="btn btn-primary btn-block mt-4">Aggiungi piatto</button>
		</form>
	</div>
</body>
</html>