<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{adminHome.title})">
    <title th:text="#{adminHome.title}">Admin - Catering</title>
<body>
	<!-- START Navbar -->
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<!-- END Navbar -->

    <div class="container text-center">
        <h1 th:text="#{addSuccessful.header}">Operazione effettuata con successo!</h1>
        <h3><a th:text="#{addSuccessful.homeLink}" th:href="@{/default}">Torna alla home</a></h4>
        <!-- TODO: fix
        <button class="btn btn-primary btn-block mb-4" th:text="#{addSuccessful.homeLink}" type="button" th:href="@{/default}">
        	Torna alla home
        </button> -->
    </div>
</body>
</html>