<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
	<title th:text="#{home.title}">Admin - Catering</title>	
</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<!-- END Navbar -->
	
	
    <div class="container text-center mt-4">
    	<span>
    		<h4 th:text="#{adminHome.header}">Benvenuto </h4>
    		<a sec:authentication="name"></a>
    	</span>
		<div>
			<a th:href="@{/addChef}" th:text="#{adminHome.addChef}">Aggiungi uno chef</a>
		</div>
		<div>
			<a th:href="@{/addBuffet}" th:text="#{adminHome.addBuffet}">Aggiungi un buffet</a>
		</div>
		<div>
			<a th:href="@{/addDish}" th:text="#{adminHome.addDish}">Aggiungi un piatto</a>
		</div>
    </div>
    
    <!-- Bootstrap Bundle with Popper -->
    <script th:replace="fragments/base.html :: bootstrapJS" />
</body>
</html>