<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{piatto.title})">
</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<!-- END Navbar -->	

    <div class="container text-center mt-4">
		<div th:if="${buffet}" th:object="${buffet}">
  			<h3 th:text="${buffet.nome}" class="h3 mt-2">Nome</h3>
    		<p th:text="${buffet.descrizione}" class="mt-2">descrizione</p>
			
			<div th:if="${!buffet.imageUrl.isEmpty()}">
				<img th:src="${buffet.imageUrl}" class="mt-4 img-fluid" />
			</div>
			
			<div th:if="${buffet.chefPreparatore}">
				<div th:if="${!buffet.chefPreparatore.isEmpty()}">
					<a th:text="#{addBuffet.selectChefAuthor}" th:href="@{'/chef' + '/' + ${buffet.chefPreparatore.getId()}}" />
				</div>
			</div>
						
			<div th:if="${!buffet.piatti.isEmpty()}" class="mt-4">
				<h5 th:text="#{navbar.dishes}">Dishes</h5>
				
				<div th:each="piatto : ${buffet.piatti}">
		        	<div class="card">
			          	<div class="card-body">
			            	<h5 th:text="${piatto.nome}" class="card-title">Ingredient name</h5>
			            	<div class="text-center mt-1">
			            		<span th:text="${piatto.descrizione}" class="card-text">Description</span>
			            	</div>
			            	
			            	<div sec:authorize="hasAuthority('ADMIN')" class="container text-center">
		            			<div class="row mt-4">
		            				<div class="col-lg-6 col-md-6 mb-4">
		            					<a th:text="#{buffetList.seeMore}" 
		            						th:href="@{'/piatto' + '/' + ${piatto.id}}" class="btn btn-primary">See more</a>
		            				</div>
		            				<div class="col-lg-6 col-md-6 mb-4">
				            			<a th:text="#{adminHome.delete}" 
					            			th:href="@{'/admin/deletePiatto' + '/' + ${piatto.id}}" class="btn btn-danger">Delete</a>
				            		</div>				            				
		            			</div>
			            	</div>
			            	
			          		<div sec:authorize="hasAuthority('DEFAULT')" class="text-center mt-2">
			          			<a th:text="#{buffetList.seeMore}" 
			            			th:href="@{'/piatto' + '/' + ${piatto.id}}" class="btn btn-primary">See more</a>				          		
			          		</div>         	
			          	</div>
	        		</div>
      			</div>
			</div>
		</div>
		
		<div th:unless="${buffet}" th:text="#{buffet.notExist}">This buffet does not exist</div>
	</div> 
	
</body>
</html>