<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{chefList.title})">
</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<!-- END Navbar -->

	<div class="container my-5">
     	<div class="text-center">
	    	<h3 th:text="#{chefList.header}" class="mb-5">Chefs</h3>
	    	
	    	<div class="container mt-4">
	    		<div class="row">
	    			<div th:each="chef : ${chefs}" class="col-lg-4 col-md-6 mb-4">
			        	<div class="card">
			          		<div class="card-img-top">
			          			<img src="${chef.imageUrl}" class="img-fluid" />
			          		</div>
				          	<div class="card-body">
				          		<div class="text-center mt-2">
				          			<span th:text="${chef.nome}" class="h5 card-title">Nome</span>
				            		<span th:text="${chef.cognome}" class="h5 card-title">Cognome</span>
				          		</div>
				          		<div class="text-center mt-1">
				          			<span th:text="#{chefList.originCountry} " class="card-text">Origin country</span>
				            		<span th:text="${chef.nazionalita}" class="card-text">Italian</span>
				          		</div>         						            	
				            	<div class="text-center mt-2">
				            		<a th:text="#{chefList.seeMore}" 
				            		th:href="@{'/chef' + '/' + ${chef.id}}" class="btn btn-primary">See more</a>
				            	</div>
				            	
				          	</div>
		        		</div>
  					</div>		    		
	    		</div>
	    	</div>  
    	</div>    
	</div>    
	
	<!-- Bootstrap Bundle with Popper -->
	<script th:replace="fragments/base.html :: bootstrapJS" />
</body>
</html>