<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles">
		<title th:text="#{dish.title}">Dish - Catering</title>
	</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<!-- END Navbar -->	

    <div>
    	<h2 th:text="#{dish.header}">Piatto</h2>
    	<div th:if="${piatto}" th:object="${piatto}">
			<h3 th:text="*{nome}">Name</h3>
        	<h5 th:text="*{descrizione}" class="card-text">Description</h5>
        	<!-- TODO: aggiungere ingredienti -->
   		</div>
    	<div th:unless="${piatto}" th:text="#{dish.notExist}">This dish does not exist</div>
    </div>
    
    <!-- Bootstrap Bundle with Popper -->
	<script th:replace="fragments/base.html :: bootstrapJS" />
</body>
</html>