<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{dishList.title})">
</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<!-- END Navbar -->

	<div class="container my-5">
     	<div class="text-center">
	    	<h2 th:text="#{dishList.header}" class="mb-5">Dishes</h2>
	    	
	    	<div class="container mt-4">
	    		<div class="row">
	    			<div th:each="piatto : ${piatti}" class="col-lg-4 col-md-6 mb-4">
			    		<div class="card">
			          		<div class="card-img-top">
			          			<img src="'${piatto.imageUrl}" class="img-fluid" />
			          		</div>
				          	<div class="card-body">
				            	<h5 th:text="${piatto.nome}" class="card-title">Dish name</h5>
				            	<div class="text-center mt-1">
				            		<span th:text="${piatto.descrizione}" class="card-text">Description</span>
				            	</div>				            	
				            	<div class="text-center mt-2">
				            		<a th:text="#{chefList.seeMore}" 
				            			th:href="@{'/dish' + '/' + ${piatto.id}}" class="btn btn-primary">See more</a>
				            	</div>				            	
				          	</div>
		        		</div>	
			    	</div>	
	    		</div>
	    	</div> 	        	
      	</div>
	</div>
    
	
	<!-- Bootstrap Bundle with Popper -->
	<script th:replace="fragments/base.html :: bootstrapJS" />
</body>
</html>