<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{dishList.title})">
</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<!-- END Navbar -->

	<div class="container text-center mt-4">
    	<h2 th:text="#{dishList.header}" class="mb-4">Dishes</h2>
    	
    	<div th:if="${!piatti.isEmpty()}" class="container mt-4">
    		<div class="row">
    			<div th:each="piatto : ${piatti}" class="col-lg-4 col-md-6 mb-4">
		    		<div class="card">
		          		<div th:if="${!piatto.imageUrl.isEmpty()}" class="card-img-top">
		          			<img th:src="'${piatto.imageUrl}" class="img-fluid" />
		          		</div>
			          	<div class="card-body">
			            	<h5 th:text="${piatto.nome}" class="card-title">Dish name</h5>
			            	<div class="text-center mt-1">
			            		<span th:text="${piatto.descrizione}" class="card-text">Description</span>
			            	</div>	
			            	
			            	<div sec:authorize="hasAuthority('ADMIN')" class="container text-center">
		            			<div class="row mt-4">
		            				<div class="col-lg-6 col-md-6 mb-4">
		            					<a th:text="#{chefList.seeMore}" 
		            						th:href="@{'/dish' + '/' + ${piatto.id}}" class="btn btn-primary">See more</a>
		            				</div>
		            				<div class="col-lg-6 col-md-6 mb-4">
		            					<a th:text="#{adminHome.delete}" 
					            			th:href="@{'/deleteDish' + '/' + ${piatto.id}}" class="btn btn-danger">Delete</a>
		            				</div>
		            			</div>
			            	</div>
			            				            	
			            	<div sec:authorize="hasAuthority('DEFAULT')" class="text-center mt-2">
			            		<a th:text="#{chefList.seeMore}" 
			            			th:href="@{'/dish' + '/' + ${piatto.id}}" class="btn btn-primary">See more</a>
			            	</div>				            	
			          	</div>
	        		</div>	
		    	</div>	
    		</div>
    	</div>
    	
    	<div th:unless=${!piatti.isEmpty()}>
    		<p th:text="#{dishList.noDishFound}">No dishes here!</p>
    		<a th:text="#{adminHome.addDish}" th:href="@{/addDish}" class="btn btn-primary">Add dish</a>
    	</div>
	</div>
</body>
</html>