<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
	<title th:text="#{home.title}">Home - Catering</title>	
</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<!-- END Navbar -->

    <div class="container text-center mt-4">
    	<h4 th:text="#{home.header}">What do you want to see?</h4>
		<ul class="list-group">
			<li class="list-group-item">
				<a th:href="@{/chefList}" th:text="#{navbar.chef}">Chefs</a>
			</li>
			<li class="list-group-item">
				<a th:href="@{/buffetList}" th:text="#{navbar.buffet}">Buffet</a>
			</li>
			<li class="list-group-item">
				<a th:href="@{/dishList}" th:text="#{navbar.dishes}">Dishes</a>
			</li>
		</ul>
    </div>
    
	
	<!-- Bootstrap Bundle with Popper -->
    <script th:replace="fragments/base.html :: bootstrapJS" />
</body>
</html>