<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{piatto.title})">
</head>
<body>
	<!-- START Navbar -->
	<nav th:replace="fragments/base.html :: navbar"></nav>
	<!-- END Navbar -->	

    <div class="container text-center mt-4">
		<div th:if="${piatto}" th:object="${piatto}">
  			<h3 th:text="${piatto.nome}" class="h3 mt-2">Nome</h3>
    		<p th:text="${piatto.descrizione}" class="mt-2">descrizione</p>
			
			<div th:if="${!piatto.imageUrl.isEmpty()}">
				<img th:src="${piatto.imageUrl}" class="mt-4 img-fluid" />
			</div>			
			
			<div th:if="${!piatto.ingredienti.isEmpty()}" class="mt-4">
				<h5 th:text="#{addDish.selectIngredients}">Ingredients</h5>
				
				<div th:each="ingrediente : ${piatto.ingredienti}">
		        	<div class="card">
			          	<div class="card-body">
			            	<h5 th:text="${ingrediente.nome}" class="card-title">Ingredient name</h5>
			            	<div th:if="${!ingrediente.origine.isEmpty()}" class="mt-2">
								<span th:text="#{ingredient.origin}" class="">Origin</span>
				    			<span th:text="${ingrediente.origine}" class="">Italian</span>
							</div>
			            	<div class="text-center mt-1">
			            		<span th:text="${ingrediente.descrizione}" class="card-text">Description</span>
			            	</div>
			            	
			            	<div sec:authorize="hasAuthority('ADMIN')" class="container text-center">
		            			<div class="text-center mt-4">
		            				<div class="mb-4">
				            			<a th:text="#{adminHome.delete}" 
					            			th:href="@{'/admin/deleteIngrediente' + '/' + ${ingrediente.id}}" class="btn btn-danger">Delete</a>
				            		</div>				            				
		            			</div>
			            	</div>         	
			          	</div>
	        		</div>
      			</div>
			</div>
		</div>
		
		<div th:unless="${piatto}" th:text="#{piatto.notExist}">This piatto does not exist</div>
	</div> 
	
</body>
</html>